$whiteColor : #fff;
$blackColor: black;
$titleFont: Poppins;

.board-container{
 
    width: 70%;
    height: 80%;
    margin-inline: auto;
    margin-block: 10px;

}
.board-container h3{
    color: $blackColor;
    font-weight: 700;
     font-family: $titleFont;
     font-size: 30px;
}