@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Poppins:wght@700&family=Roboto:ital,wght@1,100&family=Sofia&display=swap');
.title{
    
   
    text-align: center;
    font-family: Poppins;
    height: 5vh;
    
    
   
    
    
}

.botname-A{
    

display: flex;


width: 50px;
text-align: center;
align-items: center;
justify-content: center;
background-color: #D9D9D9;
border-radius: 10px;
font-family: Poppins;
}

.botname-B{
    display: flex;
    width: 50px; 
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
}

.botname{
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
    
}