.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 700px) {
    width: 320px;
    height: 320px;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
}
