.bot {
  width: 3.3rem;
  height: 3.3rem;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;

  .each-bot {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .red-bot {
    background-color: red;
  }
  .blue-bot {
    background-color: blue;
  }
  img {
    width: 3.3rem;
    height: 3.3rem;
  }
}

@media (max-width: 600px) {
  .bot {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid grey;
    margin: 3.2px;
  }
  img {
    width: 2.2rem !important;
    height: 2.2rem !important;
  }
}
