.layout-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    grid-gap: 20px;

<<<<<<< HEAD
    .configutaion-section {
=======
    .configuraion-section {
>>>>>>> 60e68b404f90780bbdf17d58d9378d309286a7a5
        border: 1px solid black;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .arena-section {
        border: 1px solid black;
    }
    .leadboard-section {
        border: 1px solid black;
    }
}