  @import 'atropos/scss';
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Poppins:wght@700&family=Roboto:ital,wght@1,100&family=Sofia&display=swap');

  .container-home{
    margin: 2% 10%;
    height: 75vh;
    justify-content: center;
    text-align: center;
    background-image:url(../../assets/bots.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    @media screen and (max-width: 650px) {
      height: 80vh;
    }

    .main-text {
      font-size: calc(1.5rem + 1vw);
      padding-top: 2%;
      height: 50px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      @media screen and (max-width: 650px) {
        padding-top: 25%;
        
      }
    }

    .sub-text {
      font-weight: 600;
      font-family: 'Poppins';
      margin-top: 5px;
    }

    button {
      margin-top: 50vh;
      position: relative;
      width: 11em;
      height: 4em;
      outline: none;
      transition: 0.1s;
      background-color: transparent;
      border: none;
      font-size: 13px;
      font-weight: bold;
      color: #060606;

      @media screen and (max-width: 650px) {
            margin-top: 40vh;
      }
    }
    
    #clip {
      --color: #2761c3;
      position: absolute;
      top: 0;
      overflow: hidden;
      width: 85%;
      height: 80%;
      border: 5px double var(--color);
      box-shadow: inset 0px 0px 15px #195480;
      clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
    
    .arrow {
      position: absolute;
      transition: 0.2s;
      background-color: #2761c3;
      top: 35%;
      width: 11%;
      height: 30%;
    }
    
    #leftArrow {
      left: -13.5%;
      clip-path: polygon(100% 0, 100% 100%, 0 50%);
    }
    
    #rightArrow {
      clip-path: polygon(100% 49%, 0 0, 0 100%);
      left: 103%;
    }
    
    button:hover #rightArrow {
      background-color: #27c39f;
      left: -15%;
      animation: 0.6s ease-in-out both infinite alternate rightArrow8;
    }
    
    button:hover #leftArrow {
      background-color: #27c39f;
      left: 103%;
      animation: 0.6s ease-in-out both infinite alternate leftArrow8;
    }
    
    .corner {
      position: absolute;
      width: 4em;
      height: 4em;
      background-color: #2761c3;
      box-shadow: inset 1px 1px 8px #2781c3;
      transform: scale(1) rotate(45deg);
      transition: 0.2s;
    }
    
    #rightTop {
      top: -1.98em;
      left: 91%;
    }
    
    #leftTop {
      top: -1.96em;
      left: -3.0em;
    }
    
    #leftBottom {
      top: 2.10em;
      left: -2.15em;
    }
    
    #rightBottom {
      top: 45%;
      left: 88%;
    }
    
    button:hover #leftTop {
      animation: 0.1s ease-in-out 0.05s both changeColor8,
      0.2s linear 0.4s both lightEffect8;
    }
    
    button:hover #rightTop {
      animation: 0.1s ease-in-out 0.15s both changeColor8,
      0.2s linear 0.4s both lightEffect8;
    }
    
    button:hover #rightBottom {
      animation: 0.1s ease-in-out 0.25s both changeColor8,
      0.2s linear 0.4s both lightEffect8;
    }
    
    button:hover #leftBottom {
      animation: 0.1s ease-in-out 0.35s both changeColor8,
      0.2s linear 0.4s both lightEffect8;
    }
    
    button:hover .corner {
      transform: scale(1.25) rotate(45deg);
    }
    
    button:hover #clip {
      animation: 0.2s ease-in-out 0.55s both greenLight8;
      --color: #27c39f;
    }
    
    @keyframes changeColor8 {
      from {
        background-color: #2781c3;
      }
    
      to {
        background-color: #27c39f;
      }
    }
    
    @keyframes lightEffect8 {
      from {
        box-shadow: 1px 1px 5px #27c39f;
      }
    
      to {
        box-shadow: 0 0 2px #27c39f;
      }
    }
    
    @keyframes greenLight8 {
      from {
      }
    
      to {
        box-shadow: inset 0px 0px 32px #27c39f;
      }
    }
    
    @keyframes leftArrow8 {
      from {
        transform: translate(0px);
      }
    
      to {
        transform: translateX(10px);
      }
    }
    
    @keyframes rightArrow8 {
      from {
        transform: translate(0px);
      }
    
      to {
        transform: translateX(-10px);
      }
    }
  }
  
  .footer-home{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    height: 20vh;
    background: #D9D9D9;
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  .Team{
    text-align: center;
    margin-top: 2%;
    font-weight: bolder; 
  }
  .Team-links{

    a {
      margin: 0 2%;
    }

    display: flex;
    text-align: center;
    justify-content: center;
    width: 60vw;
    font-size: calc(0.7rem + 0.3vw);
  
    @media screen and (max-width: 650px) {
     width: 95vw;
    }
  }
  
  .chingu{
    text-align: center;
    font-size: calc(0.7rem + 0.3vw);
    margin-bottom: 3%;
  }
  
  .github{
    width: 30px;
    height: 30px; 
  }

  .link{
    text-decoration: none;
  }

  .links{
    text-decoration: none;
    color: #060606;
  }
  